/* Thanks, TheEvilSkeleton! */
.drag-overlay-status-page {
	background-color: alpha(var(--accent-bg-color), 0.5);
	color: var(--accent-fg-color);
	padding: 32px;
}

.drop-target-blurred {
	filter: blur(6px);
}
/* end thanks */

.margined-bottom-sheet .bottom-bar {
	background-color: #343437;
	box-shadow: 0px -5px 25px #00000060;
	border-radius: 18px 18px 0px 0px;
}

.margined-bottom-sheet sheet {
	margin-left: 12px;
	margin-right: 12px;
}

.margined-bottom-sheet .bottom-bar stack {
	border-radius: 18px 18px 0px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #4c4c4f;
}
