/* Thanks, TheEvilSkeleton! */
.drag-overlay-status-page {
	background-color: alpha(var(--accent-bg-color), 0.5);
	color: var(--accent-fg-color);
	padding: 32px;
}

.drop-target-blurred {
	filter: blur(6px);
}

/*.details-blurred {
	filter: blur(200px);
}*/

@media (prefers-color-scheme: dark) {
	.details-blurred {
		opacity: 0.5;
	}
}

@media (prefers-contrast: more) {
	.details-blurred {
		filter: none;
		opacity: 1;
	}
}
