/* Thanks, TheEvilSkeleton! */
.drag-overlay-status-page {
	background-color: alpha(var(--accent-bg-color), 0.5);
	color: var(--accent-fg-color);
	padding: 32px;
}

.drop-target-blurred {
	filter: blur(6px);
}
/* end thanks */

.margined-bottom-sheet sheet {
	margin-left: 6px;
	margin-right: 6px;
}

.margined-bottom-sheet .bottom-bar {
	margin-left: 0px;
	margin-right: 0px;
}
