/* Thanks, TheEvilSkeleton! */
.drag-overlay-status-page {
	background-color: alpha(var(--accent-bg-color), 0.5);
	color: var(--accent-fg-color);
	padding: 32px;
}

.drop-target-blurred {
	filter: blur(6px);
}
