.eolText {
    background-color: #ff0000b7;
    color: #fafafa;
    border-radius: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.installType {
    background-color: #0077ffd0;
    color: #fafafa;
    border-radius: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
  }